<div id="overall">
  <a mat-flat-button href="/wo/dashboard">Go back to Dashboard</a>

      <mat-horizontal-stepper [linear]="isLinear" #stepper>

          <!-- Step One
              **-- Project Name Input -- **
          -->
          <mat-step [stepControl]="firstFormGroup">
                  <div>
                  <ng-template matStepLabel>Project Name</ng-template>
                  <div class="projectForm">
                      <div>
                      <form #projectName="ngForm">
                          <mat-form-field>
                              <mat-label>Enter Project Name</mat-label>
                              <div class="name">
                                  <input matInput
                                  placeholder="Project Name"
                                  name="projectName"
                                  [(ngModel)]="pName"
                                  ngModel name="projectName"
                                  #projectName="ngModel"
                                  id="projectName"
                                  required>
                              </div>
                          </mat-form-field>
                      </form>
                      </div>
                      <br>
                      <mat-divider></mat-divider>
                      <button mat-button matStepperNext class="submitBtn" (click)="submitBtn()">Next Step</button>
                  </div>
              </div>
              </mat-step>

          <!-- Step Two
              **-- Adding and Removing Wells --**
          -->
          <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>Add/Remove Wells into the Project</ng-template>
              <div fxLayout id="overall">
                <div fxLayout="column">
                  <div class="item">
                          <mat-card class="project-info-card">
                            <mat-card-header>
                              <mat-icon mat-card-avatar>info</mat-icon>
                              <mat-card-title>{{ updateProjectName.pName }}</mat-card-title>
                              <mat-card-subtitle>Project Name</mat-card-subtitle>
                            </mat-card-header>

                              <mat-card-content>
                                <!--
                                  <p>Owner: {{ owner }} </p>
                                  <p>Project Date Created: {{ projectDate }}</p>
                                  <p>Number of Wells in Project: {{ wells }}</p>
                                -->
                              </mat-card-content>
                          </mat-card>
                      </div>

                  <div class="item">
                          <mat-card class="project-wells">
                              <mat-card-header>
                                  <mat-icon mat-card-avatar>list</mat-icon>
                                  <mat-card-title>
                                      Wells in Project
                                  </mat-card-title>
                                  <mat-card-subtitle>
                                  </mat-card-subtitle>
                              </mat-card-header>

                              <mat-card-content>
                                <app-add-rm-wells-table></app-add-rm-wells-table>
                              </mat-card-content>
                          </mat-card>
                      </div>
                  </div>

                <div class="item" id="select-table-div">
                      <mat-card id="select-list">
                          <mat-card-header>
                              <mat-icon mat-card-avatar>library_add</mat-icon>
                              <mat-card-title>Well Select</mat-card-title>
                              <mat-card-subtitle>Select wells to add to this project</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <app-overview-well-name-list></app-overview-well-name-list>
                          </mat-card-content>
                      </mat-card>
                  </div>
              </div>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next Step</button>
              </div>
          </mat-step>

          <!-- Step Three
              **-- Confirmation + Send to Regulatory Project --**
           -->
          <mat-step>
              <ng-template matStepLabel>Overview</ng-template>
              <app-overview-wells-table></app-overview-wells-table>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next Step</button>
              </div>
          </mat-step>

          <mat-step>
              <ng-template matStepLabel>Confirmation</ng-template>
              <p>Do you want to submit this project?</p>
              <p style="font-size:14px; color:#f30000; font-weight:bold;">
                  You are responsible for any data entry error after this point. </p>
              <div>
                  <button mat-button matStepperPrevious>No, Go back</button>
                  <a mat-raised-button href="/wo/dashboard" color="primary">Yes, Submit this project</a>
              </div>
          </mat-step>
      </mat-horizontal-stepper>
      <mat-divider></mat-divider>
      <br>

  </div>
